/* Variable Css */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap");

:root {
  --header-height: 3.5rem;

  /* ----------colors------------ */
  --first-color: #007dfe;
  --first-color-dark: hsla(225, 87%, 29%, 0.813);
  --first-color-light: hsl(2252, 100%, 83%);
  --title-color: hsl(247, 27%, 31%);
  --text-color: hsl(0, 0%, 41%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(266, 78%, 98%);
  --border-color: hsl(0, 0%, 87%);
  --white: #fff;

  /* -------Font-------- */
  --body-font: "Jost", sans-serif;
  --big-font-size: 3rem; /* .5rem= 8px | 1rem = 16px */
  --h1-font-size: 2.5rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.2rem;
  --large-font-size: 1.125rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-600: 600;
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--larger-font-size);
}

main {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--weight-600);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2rem;
}
.section_title {
  font-size: var(--h1-font-size);
  font-weight: var(--weight-400);
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.section_title::before {
  content: attr(data-title);
  display: block;
  color: var(--first-color);
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.title-center {
  text-align: center;
  margin-bottom: 3rem;
}

/* dark mode switch */
#day-night:checked ~ * {
  --title-color: hsl(0, 0%, 87%);
  --text-color: hsl(0, 0%, 69%);
  --body-color: hsl(200, 12%, 5%);
  --container-color: hsl(200, 10%, 8%);
  --border-color: hsl(0, 0%, 20%);
}
input[type="checkbox"] {
  display: none;
}

.style__switcher {
  position: fixed;
  right: 0px;
  top: 15%;
  padding: 1rem;
  width: 200px;
  border: 1px solid var(--border-color);
  background-color: var(--container-color);
  border-radius: 0.5rem;
  z-index: 1000;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.style__switcher-theme {
  position: absolute;
  right: 110%;
  color: var(--title-color);
  background-color: var(--body-color);
  border: 1px solid var(--border-color);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
}

.style__switcher-theme {
  bottom: 7%;
}
.style__switcher-theme .fa-moon {
  display: none;
}

#day-night:checked ~ * .fa-sun {
  display: none;
}

#day-night:checked ~ * .fa-moon {
  display: block;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 0 4px 0 grey;

  z-index: 100;
}
.menu-icon {
  /* hemburger menu */
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  height: calc(var(--header-height)+ 2.25rem);
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

.nav_list {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.nav_link {
  color: var(--title-color);
  transition: all 0.3s ease;
}
.nav_link:hover {
  color: var(--first-color);
}

/* Home */
.home {
  background-color: var(--body-color);
  padding-block: 9rem 3rem;
  height: 100vh;
}
.home_container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.home_small {
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
  letter-spacing: 1px;
}

.home_title span {
  font-weight: var(--weight-300);
}

.home_description {
  margin-block: 1.5rem 3rem;
}
.home_btns {
  display: flex;
  column-gap: 1rem;
}

.home_img-wrapper {
  margin-left: 10rem;
  position: relative;
}
.home_img {
  z-index: 10;
  position: relative;
  vertical-align: middle;
  animation: animation_round 8s ease-in-out infinite;
}
@keyframes animation_round {
  0% {
    border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
  }
  50% {
    border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
  }

  100% {
    border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
  }
}
.btn {
  display: inline-block;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: var(--white);
  padding: 0.9rem 2.5rem;
  font-size: var(--large-font-size);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
.btn--transparent {
  background-color: transparent;
  color: var(--first-color);
}
.btn:hover {
  background-color: var(--first-color-dark);
}
.btn--transparent:hover {
  background-color: var(--first-color);
  color: var(--white);
}

/* About */
.about{
  background-color: var(--container-color);
  height: 100vh;
  padding-block: 7rem;
}
.about_container {
  grid-template-columns: 5fr 8fr;
  align-items: center;
}
.about_img-wrapper {
  position: relative;
  height: 400px;
  margin-right: 3rem;
}
.about_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  border-radius: 50%;
}
.about_data {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
  margin-bottom: 3rem;
}
.data_item {
  display: flex;
  column-gap: 0.75rem;
}
.data_title {
  font-size: var(--larger-font-size);
}
.about_link {
  color: hsl(225, 73%, 57%);
}
.about_bottom,
.about_social-links {
  display: flex;
  align-items: center;
}
.about_bottom {
  column-gap: 3rem;
  margin-left: 2rem;
}
.about_social-links {
  column-gap: 1.25rem;
}
.about_social-links::before {
  content: "";
  background-color: var(--text-color);
  width: 60px;
  height: 2px;
}
.about_social-link {
  color: var(--text-color);
  transition: all 0.3s ease;
}
.about_social-link:hover {
  color: var(--first-color);
}

/* skills */
.skills {
  background-color: var(--body-color);
  padding-top: 50px;
}
.skills_container{
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-items: center;
}
.skills_images img{
  width: 100px;
}
.skills_images p{
  text-align: center;
  font-weight: 600;
}

/* portfolio */
.works{
  background-color: var(--container-color);
}
.work_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.work_card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.work_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.work_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.work_info {
  padding: 20px;
}
.work_name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  letter-spacing: 1px;
}
.work_description {
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #555;
  background-color: #f9f9f9;
  padding: 10px;
  line-height: 1.4;
  border-radius: 5px;
}
.work_link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.work_link:hover {
  background-color: #007bff;
  color: #fff;
}
/* footer */
.footer {
  background-color: var(--body-color);
  padding-block: 1rem;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_email {
  color: var(--text-color);
}
.footer_social-links {
  display: flex;
  column-gap: 1.25rem;
}
.footer_social-link {
  color: var(--text-color);
  font-size: var(--large-font-size);
}
/* -----------------------responsive-------------------------------- */

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .menu-icon {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    color: var(--text-color);
  }
  .menu-icon:hover {
    color: var(--first-color);
  }
  .nav_list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    background-color: var(--body-color);
    padding-top: 1.5rem;
    text-align: center;
    z-index: 999;
  }
  .nav_item {
    margin-bottom: 1.5rem;
  }
  .nav_link {
    font-size: 1.5rem;
  }
  .nav_logo {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    margin-top: 0.7rem;
  }
  #menu-toggle:checked + .nav .nav_list,
  .nav_list.visible {
    display: flex;
  }

  #day-night:checked ~ .nav .nav_list {
    display: flex;
  }
  /* Main */
  .home_container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .home_img-wrapper {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 0 auto;
  }
  .home_title {
    font-size: 2rem;
  }
  .home_description {
    margin: 0 auto;
    padding: 0 1.1rem;
    font-size: 1rem;
  }
  .home_btns {
    flex-direction: column;
    align-items: center;
  }
  /* About */
  .about_container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about_img-wrapper {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 auto;
  }
  .about_description {
    padding: 0 1.5rem;
    font-size: 1.4rem;
  }
  .about_data,
  .about_bottom {
    flex-direction: column;
  }
  .data_item {
    flex-direction: column;
    gap: 3px;
  }
  .btn {
    margin-bottom: 1rem;
  }
  /* Skills */
  .skills_container {
    grid-template-columns: repeat(3,1fr);
    text-align: center;
  }
  .skills_images img{
    width: 50px;
  }
  /* Portfolio */
  .work_container {
    grid-template-columns: 1fr;
    gap: 3rem;
    text-align: center;
  }
  .work_card {
    margin-bottom: 3rem;
  }
  .work_card img {
    height: 150px;
    margin: 0 auto;
  }
  /* Footer */
  .footer_container {
    flex-direction: column;
    text-align: center;
  }
  .footer_social-links {
    justify-content: center;
  }
}
